.modal{
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  z-index: 1050;
  max-width: 600px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  background: transparent;
  .modal-card {
    @extend .z-depth-5;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.16rem;
    //animation: bouncein 0.35s ease;
    .modal-card-head {
      position: relative;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: flex-start;
      height: 56px;
      background-color: $secondary-color;
      padding: 0 16px;
      font-size: 20px;
      color: #fff;
    }
    .modal-card-body {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
      padding: 16px;
      display: block;
      padding-bottom: 0;
      .input-field{
        &:last-child{
          textarea,input{
            margin-bottom: 0 !important;
          }
        }
      }
    }
    .modal-card-foot {
      position: relative;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: flex-end;
      height: 56px;
      padding: 0 16px;
      button{
        margin-left: 8px;
      }
    }
  }

}
.modal-background {
    position: fixed;
    background-color: rgba(0,0,0, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
  transition: all 0.55s ease;
  }
.modal-small{
  width: 350px !important;
  height: 250px !important;
}
.modal-bounceout{
  animation: bounceOut .35s ease;
}
.modal-bouncein{
  animation: bounceIn 0.35s ease;
}
.modal-show{
  display: block;
}
@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  45% {
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-o-keyframes bounceOut {
  0% {
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}